<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <h2 class="text-center">Edit Contact Form</h2>

            <% if (typeof comments != 'undefined') { %>
                <div class="alert alert-danger mt-4" role="alert">
                    <ul>
                        <% comments.forEach(error => { %>
                            <li><%= error.msg %></li>
                        <% }) %>
                    </ul>
                </div>
            <% } %>

            <form method="POST" action="/contact?_method=PUT" class="mt-4">
              <input type="hidden" name="id" value="<%= dataContact._id %>">
              <input type="hidden" name="oldNama" value="<%= dataContact.oldNama || dataContact.nama %>">

                <div class="mb-3">
                  <label for="" class="form-label">Name</label>
                  <input type="text" class="form-control"  name="nama" required value="<%= dataContact.nama %>">
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">Email</label>
                  <input type="email" class="form-control"  name="email" required value="<%= dataContact.email %>">
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">Phone Number</label>
                  <input type="number" class="form-control"  name="nohp" required value="<%= dataContact.nohp %>">
                </div>
                <a href="/contact" class="btn btn-danger">Cancel</a>
                <button type="submit" class="btn btn-primary">Update</button>
              </form>
        </div>
    </div>
</div>